<div class="d-inline-flex flex-column">
  <% book.book_comments.each do |book_comment| %>
    <div class="d-flex">
      <div class="mb-3">
        <%= link_to user_path(book_comment.user) do %>
          <%= image_tag book_comment.user.get_profile_image(80, 80) %>
          <p><%= book_comment.user.name %></p>
        <% end %>
      </div>
      <div class="ml-3">
        <%= book_comment.comment %>
        <% if current_user == book_comment.user %>
          <%= link_to "Destroy", book_book_comment_path(book, book_comment), method: :delete, remote:true, data: {"turbolinks" => false}, class:"btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
