<h2>users#index 全ユーザーの画像と名前とshowページへのリンク</h2>

<h2>User info</h2>
<%= image_tag @user.get_profile_image(100, 100) %>
<p>name　<%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>
<%= link_to "Edit", edit_user_path(current_user.id) %>

<h2>New Book</h2>

<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <label>Title</label>
 <div><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <label>Body</label>
  <div><%= f.text_area :body %></div>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td>
          <%= image_tag user.get_profile_image(100, 100) %>
      </td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>