
<%= form_with model: book, local: true do |f| %>
  <div class="field">
    <label>Title</label>
  <div><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <label>Opinion</label>
  <div><%= f.text_area :body %></div>
  <div class="field">
    <label>Tag names</label>
  <div><%= f.text_area :tag_names, class: 'tag-input form-control', rows: 2 %></div>
  </div>
  <% if book.id.nil? %>
    <div class="form-group" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = "";
        let opt = {
          starOn: "<%= asset_path('star-on.png')%>",
          starOff: "<%= asset_path('star-off.png')%>",
          starHalf: "<%= asset_path('star-half.png')%>",
          scoreName: 'book[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "static.rate", book: book %>
    </div>
  <% end %>

  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>