  <div class="container px-5 px-sm-0 md-8">
    <%= render 'layouts/error_msg', obj: @book %>
    <div class="row">
      <div class="col">
        <h2>Editing Book</h2>
        <%= form_with model: @book do |f| %>
          <div class="form-group">
            <label>Title</label>
            <div><%= f.text_field :title %></div>
          </div>
          <div class="form-group">
            <label>Opinion</label>
            <div><%= f.text_area :body%></div>
          </div>
          <div class="form-group mb-3">
            <%= render "static.rate", book: @book %>
          </div>
          <div>
            <%= f.submit 'Update Book'%>
          </div>
          <% end %>
          <span><%= link_to 'Show', book_path(@book.id) %></span>
          <span> | </span>
          <span><%= link_to 'Back', books_path %></span>
      </div>
    </div>
  </div>