<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0ccf06e068.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div classs="container">
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar ml-auto">
                <% if user_signed_in? %>
                <li>
                  <!--ユーザー投稿一覧リンク-->
                  <a class="nav-link text-light"><%= link_to "Home", user_path(current_user.id) %></a>
                </li>
                <li>
                  <!--全ユーザー投稿一覧リンク-->
                  <a class="nav-link text-light"><%= link_to "Users", users_path %></a>
                </li>
                <li>
                  <!--本の投稿？何が表示されるのかは要検討-->
                  <a class="nav-link text-light"><%= link_to "Books", books_path %></a>
                </li>
                <li>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </li>
                <% else %>
                <li>
                  <!--ログイン画面リンク-->
                  <a class="nav-link text-light"><%= link_to "Home", new_user_registration_path %></a>
                </li>
                <li>
                  <a class="nav-link text-light"><%= link_to "About", about_path %></a>
                </li>
                <li>
                  <a class="nav-link text-light"><%= link_to "Sign Up", new_user_registration_path %></a>
                </li>
                <li>
                  <a class="nav-link text-light"><%= link_to "Log in", new_user_session_path %></a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

    </header>
    <main class="container mt-3 px-5">
      <%= yield %>
    </main>
    <fotter>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </fotter>
  </body>

</html>
